<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite ">

	<test name="seleniumTest" parallel="methods" thread-count="2">
		<!-- <parameter name="url" value="https://www.makemytrip.com/" /> -->
		<classes>
			<class name="org.hcl.tests.MakeMyTripTest" />
			<class name="org.hcl.tests.YatraTest" />
		</classes>
	</test> <!-- Test -->



</suite> <!-- Suite -->